$font-stack: Roboto, sans-serif;

.container {
  align-content: center;
  font-family: $font-stack;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5em;
  }
}